# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
dist
*.tsbuildinfo

# Environment variables
.env
.env.*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
!test/data/

# Temporary files
temp
*.log
logs
*.bak

# Others
.DS_Store
Thumbs.db 